In [2]:
from scipy import stats

In [3]:
df = pd.read_csv("/Users/guywinfield/PycharmProjects/Data-Science-Projects/Python for Data Analysis/Pandas/datasets/grades.csv")

In [4]:
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [5]:
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [10]:
early_finishers = df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [28]:
late_finishers = df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [31]:
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

In [32]:
from scipy.stats import ttest_ind

In [33]:
print(ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade']))

TtestResult(statistic=np.float64(1.3223540853721392), pvalue=np.float64(0.1861810110171454), df=np.float64(2313.0))

In [35]:
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

TtestResult(statistic=np.float64(1.2514717608216366), pvalue=np.float64(0.2108889627004424), df=np.float64(2313.0))
TtestResult(statistic=np.float64(1.6133726558705392), pvalue=np.float64(0.10679998102227867), df=np.float64(2313.0))
TtestResult(statistic=np.float64(0.049671157386456125), pvalue=np.float64(0.960388729789337), df=np.float64(2313.0))
TtestResult(statistic=np.float64(-0.05279315545404755), pvalue=np.float64(0.9579012739746492), df=np.float64(2313.0))
TtestResult(statistic=np.float64(-0.11609743352612056), pvalue=np.float64(0.9075854011989656), df=np.float64(2313.0))

In [39]:
df1 = pd.DataFrame([np.random.random(100) for _ in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.371448,0.298530,0.736938,0.613170,0.957037,0.645959,0.927083,0.229268,0.210066,0.250092,...,0.396456,0.878653,0.342114,0.980368,0.336546,0.612566,0.244564,0.221322,0.937023,0.347884
1,0.582568,0.242168,0.003396,0.538876,0.482672,0.379463,0.620014,0.088819,0.309831,0.380775,...,0.465898,0.461538,0.343644,0.583114,0.592379,0.674889,0.124021,0.943831,0.883399,0.960868
2,0.548857,0.366056,0.526722,0.477153,0.605307,0.036989,0.950119,0.633431,0.180194,0.860806,...,0.739441,0.188675,0.239088,0.704316,0.231994,0.854862,0.042032,0.157592,0.079028,0.184588
3,0.973525,0.030864,0.449982,0.306070,0.939606,0.026588,0.754672,0.558849,0.686300,0.853579,...,0.107586,0.649775,0.873185,0.862016,0.304049,0.895159,0.213653,0.536756,0.864833,0.799031
4,0.154580,0.879257,0.028753,0.601520,0.825579,0.936710,0.248046,0.251168,0.427582,0.783475,...,0.378981,0.460831,0.656212,0.925841,0.908983,0.163322,0.437657,0.873343,0.093788,0.672607

In [40]:
df2 = pd.DataFrame([np.random.random(100) for _ in range(100)])
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.479105,0.054758,0.952925,0.968418,0.643612,0.436655,0.537705,0.894636,0.809783,0.660771,...,0.294467,0.383893,0.152433,0.386323,0.170299,0.836160,0.934843,0.743718,0.261222,0.962050
1,0.420784,0.471859,0.545397,0.665882,0.465145,0.350419,0.799257,0.748948,0.111227,0.095902,...,0.872640,0.174084,0.592758,0.894017,0.338040,0.652355,0.154531,0.636762,0.810349,0.763800
2,0.474044,0.862557,0.251813,0.042338,0.806045,0.562986,0.220567,0.984668,0.017510,0.376472,...,0.075569,0.572563,0.164993,0.204028,0.674500,0.468616,0.093053,0.009949,0.406274,0.078914
3,0.562127,0.542913,0.163843,0.626675,0.981058,0.044207,0.633992,0.222108,0.541215,0.371821,...,0.916602,0.281597,0.018158,0.643646,0.752605,0.123685,0.530086,0.172632,0.166180,0.639759
4,0.644676,0.671383,0.926742,0.207823,0.682363,0.055253,0.845060,0.597943,0.490719,0.685116,...,0.920492,0.834070,0.293795,0.561123,0.382879,0.168608,0.821786,0.453472,0.731034,0.392142

In [45]:
def test_columns(alpha=0.1):
    num_diff = 0
    for col in df1.columns:
        teststat,pval = ttest_ind(df1[col],df2[col])
        if pval <= alpha:
            print("Col {} is statistically significantly different at alpha={}, pvalue={}".format(col,alpha,pval))
            num_diff += 1
    print("Total number different was {}, which is {}%".format(num_diff, float(num_diff)/len(df1.columns)*100))

In [46]:
test_columns()

Col 1 is statistically significantly different at alpha=0.1, pvalue=0.07432137341823383
Col 9 is statistically significantly different at alpha=0.1, pvalue=0.009785450538230296
Col 14 is statistically significantly different at alpha=0.1, pvalue=0.00476593860165532
Col 18 is statistically significantly different at alpha=0.1, pvalue=0.00260435768985768
Col 19 is statistically significantly different at alpha=0.1, pvalue=0.0011522944573669315
Col 37 is statistically significantly different at alpha=0.1, pvalue=0.0529451985328519
Col 46 is statistically significantly different at alpha=0.1, pvalue=0.04916594668843419
Col 47 is statistically significantly different at alpha=0.1, pvalue=0.0699068874267747
Col 59 is statistically significantly different at alpha=0.1, pvalue=0.04516073424491424
Col 80 is statistically significantly different at alpha=0.1, pvalue=0.047750056203115135
Col 81 is statistically significantly different at alpha=0.1, pvalue=0.06409594364389525
Col 88 is statistically significantly different at alpha=0.1, pvalue=0.05391350140976779
Col 89 is statistically significantly different at alpha=0.1, pvalue=0.030104466501005324
Col 94 is statistically significantly different at alpha=0.1, pvalue=0.055832574593855114
Total number different was 14, which is 14.000000000000002%

In [47]:
test_columns(alpha=0.05)

Col 9 is statistically significantly different at alpha=0.05, pvalue=0.009785450538230296
Col 14 is statistically significantly different at alpha=0.05, pvalue=0.00476593860165532
Col 18 is statistically significantly different at alpha=0.05, pvalue=0.00260435768985768
Col 19 is statistically significantly different at alpha=0.05, pvalue=0.0011522944573669315
Col 46 is statistically significantly different at alpha=0.05, pvalue=0.04916594668843419
Col 59 is statistically significantly different at alpha=0.05, pvalue=0.04516073424491424
Col 80 is statistically significantly different at alpha=0.05, pvalue=0.047750056203115135
Col 89 is statistically significantly different at alpha=0.05, pvalue=0.030104466501005324
Total number different was 8, which is 8.0%

In [48]:
df2 = pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.184166,0.001225,0.006832,1.165361,0.015793,1.170756,0.340437,0.401566,0.524836,0.003268,...,1.593256,0.070677,0.000126,0.341775,2.284275,0.830910,0.000098,0.330338,1.832365,0.234323
1,0.549042,0.130295,0.004753,3.357991,1.177424,0.330137,3.285269,0.131870,1.149966,0.034269,...,0.316991,0.075865,0.726111,0.000709,0.214943,1.688500,5.782348,0.134361,0.289242,0.023509
2,0.970732,0.009286,0.033723,1.309128,0.540628,0.008450,3.654520,1.006656,0.008051,0.843296,...,0.006187,0.745700,2.285651,0.470940,0.239482,5.552095,0.101595,2.614659,0.886347,0.174204
3,0.302983,0.014728,0.152407,0.040409,0.002264,1.856499,0.001237,0.013922,0.149315,0.012755,...,0.533361,2.629191,0.048562,5.140904,0.156915,0.412783,0.139958,1.330407,0.648456,0.712383
4,0.259268,0.128688,0.003313,1.819229,0.001149,0.053126,1.426982,0.509480,0.281021,0.185855,...,5.353824,0.008817,1.278924,0.030144,0.189404,1.244954,1.293658,3.688027,1.315862,0.101749

In [49]:
test_columns(alpha=0.05)

Col 0 is statistically significantly different at alpha=0.05, pvalue=0.007322873184693639
Col 1 is statistically significantly different at alpha=0.05, pvalue=0.0023744705107821076
Col 2 is statistically significantly different at alpha=0.05, pvalue=0.00020423005224059863
Col 3 is statistically significantly different at alpha=0.05, pvalue=0.00027599796650670864
Col 4 is statistically significantly different at alpha=0.05, pvalue=0.002946394647746355
Col 5 is statistically significantly different at alpha=0.05, pvalue=5.742508219726449e-06
Col 6 is statistically significantly different at alpha=0.05, pvalue=8.984305660717275e-06
Col 7 is statistically significantly different at alpha=0.05, pvalue=7.098884238907414e-06
Col 8 is statistically significantly different at alpha=0.05, pvalue=0.0006991801393972329
Col 9 is statistically significantly different at alpha=0.05, pvalue=0.012258631980063186
Col 10 is statistically significantly different at alpha=0.05, pvalue=0.000583100437884761
Col 11 is statistically significantly different at alpha=0.05, pvalue=1.2498026414245294e-05
Col 12 is statistically significantly different at alpha=0.05, pvalue=0.0026184134766402117
Col 13 is statistically significantly different at alpha=0.05, pvalue=0.006582596140819986
Col 14 is statistically significantly different at alpha=0.05, pvalue=0.000571280394332292
Col 15 is statistically significantly different at alpha=0.05, pvalue=0.003256640985192224
Col 16 is statistically significantly different at alpha=0.05, pvalue=7.927237409571591e-05
Col 17 is statistically significantly different at alpha=0.05, pvalue=0.002210576846145097
Col 18 is statistically significantly different at alpha=0.05, pvalue=7.086763967113253e-05
Col 19 is statistically significantly different at alpha=0.05, pvalue=0.008406326488917435
Col 20 is statistically significantly different at alpha=0.05, pvalue=0.0005137818202197815
Col 21 is statistically significantly different at alpha=0.05, pvalue=9.244468676615996e-05
Col 22 is statistically significantly different at alpha=0.05, pvalue=9.547106485132382e-05
Col 23 is statistically significantly different at alpha=0.05, pvalue=0.00014084402173435666
Col 24 is statistically significantly different at alpha=0.05, pvalue=0.0040646355936996064
Col 25 is statistically significantly different at alpha=0.05, pvalue=0.0007267813687491465
Col 26 is statistically significantly different at alpha=0.05, pvalue=0.000665233089935797
Col 27 is statistically significantly different at alpha=0.05, pvalue=6.492901759945641e-05
Col 28 is statistically significantly different at alpha=0.05, pvalue=7.375969627728818e-05
Col 29 is statistically significantly different at alpha=0.05, pvalue=0.02064573316580412
Col 30 is statistically significantly different at alpha=0.05, pvalue=1.869130504266258e-05
Col 31 is statistically significantly different at alpha=0.05, pvalue=0.0001045004377807031
Col 32 is statistically significantly different at alpha=0.05, pvalue=0.00025009915548842557
Col 33 is statistically significantly different at alpha=0.05, pvalue=6.145160229508987e-05
Col 34 is statistically significantly different at alpha=0.05, pvalue=3.122411522407467e-05
Col 35 is statistically significantly different at alpha=0.05, pvalue=1.2405820388289758e-05
Col 36 is statistically significantly different at alpha=0.05, pvalue=3.8592842867330956e-05
Col 37 is statistically significantly different at alpha=0.05, pvalue=0.00011437583105383339
Col 38 is statistically significantly different at alpha=0.05, pvalue=0.00010503884418577622
Col 39 is statistically significantly different at alpha=0.05, pvalue=0.004231986209162316
Col 40 is statistically significantly different at alpha=0.05, pvalue=0.003392033650734258
Col 41 is statistically significantly different at alpha=0.05, pvalue=0.0004648987027269894
Col 42 is statistically significantly different at alpha=0.05, pvalue=0.00338475151432744
Col 43 is statistically significantly different at alpha=0.05, pvalue=0.006828000240143985
Col 44 is statistically significantly different at alpha=0.05, pvalue=8.676803613802208e-06
Col 45 is statistically significantly different at alpha=0.05, pvalue=7.224855380908635e-05
Col 47 is statistically significantly different at alpha=0.05, pvalue=0.0020875494998273706
Col 48 is statistically significantly different at alpha=0.05, pvalue=3.3646155863675313e-06
Col 49 is statistically significantly different at alpha=0.05, pvalue=0.021219006707868325
Col 50 is statistically significantly different at alpha=0.05, pvalue=0.00011646702223717199
Col 51 is statistically significantly different at alpha=0.05, pvalue=0.00020754740019933134
Col 52 is statistically significantly different at alpha=0.05, pvalue=0.00048592619014992784
Col 53 is statistically significantly different at alpha=0.05, pvalue=0.001962460856874836
Col 54 is statistically significantly different at alpha=0.05, pvalue=1.491103186569565e-05
Col 55 is statistically significantly different at alpha=0.05, pvalue=0.00018515879742384483
Col 56 is statistically significantly different at alpha=0.05, pvalue=0.0041786007108426775
Col 57 is statistically significantly different at alpha=0.05, pvalue=0.006900719642514446
Col 58 is statistically significantly different at alpha=0.05, pvalue=0.0016486875500571713
Col 59 is statistically significantly different at alpha=0.05, pvalue=0.008522956765163842
Col 60 is statistically significantly different at alpha=0.05, pvalue=1.8049655214226506e-05
Col 61 is statistically significantly different at alpha=0.05, pvalue=0.0003714218388649408
Col 62 is statistically significantly different at alpha=0.05, pvalue=0.003397002528279243
Col 63 is statistically significantly different at alpha=0.05, pvalue=0.011104432607136214
Col 64 is statistically significantly different at alpha=0.05, pvalue=2.2460484910149213e-05
Col 67 is statistically significantly different at alpha=0.05, pvalue=8.255208193960879e-06
Col 68 is statistically significantly different at alpha=0.05, pvalue=0.0031520984998657277
Col 69 is statistically significantly different at alpha=0.05, pvalue=3.535738423828859e-05
Col 70 is statistically significantly different at alpha=0.05, pvalue=0.0008212786346866058
Col 71 is statistically significantly different at alpha=0.05, pvalue=0.0016661045071863874
Col 72 is statistically significantly different at alpha=0.05, pvalue=0.0013691013799118324
Col 73 is statistically significantly different at alpha=0.05, pvalue=0.00013026866424468333
Col 74 is statistically significantly different at alpha=0.05, pvalue=0.0004347596090554751
Col 75 is statistically significantly different at alpha=0.05, pvalue=0.017576846856688633
Col 76 is statistically significantly different at alpha=0.05, pvalue=0.000512456945238966
Col 77 is statistically significantly different at alpha=0.05, pvalue=0.002793759254630864
Col 78 is statistically significantly different at alpha=0.05, pvalue=1.748050824553536e-05
Col 79 is statistically significantly different at alpha=0.05, pvalue=0.00014960114851179376
Col 80 is statistically significantly different at alpha=0.05, pvalue=0.0001596312554904409
Col 81 is statistically significantly different at alpha=0.05, pvalue=0.00036650358879095394
Col 82 is statistically significantly different at alpha=0.05, pvalue=1.2697784738498882e-05
Col 83 is statistically significantly different at alpha=0.05, pvalue=0.0007526161393608262
Col 84 is statistically significantly different at alpha=0.05, pvalue=1.811359315272153e-05
Col 85 is statistically significantly different at alpha=0.05, pvalue=0.028839372757296106
Col 86 is statistically significantly different at alpha=0.05, pvalue=8.025258265332536e-05
Col 87 is statistically significantly different at alpha=0.05, pvalue=0.0010755491387423079
Col 88 is statistically significantly different at alpha=0.05, pvalue=3.794836239845688e-05
Col 89 is statistically significantly different at alpha=0.05, pvalue=0.0002963267713579016
Col 90 is statistically significantly different at alpha=0.05, pvalue=1.8622279024501016e-05
Col 91 is statistically significantly different at alpha=0.05, pvalue=3.681591113261965e-05
Col 92 is statistically significantly different at alpha=0.05, pvalue=0.00029623508187026236
Col 93 is statistically significantly different at alpha=0.05, pvalue=0.00023466466657795124
Col 94 is statistically significantly different at alpha=0.05, pvalue=1.709091029935316e-06
Col 95 is statistically significantly different at alpha=0.05, pvalue=0.0003903383251934203
Col 96 is statistically significantly different at alpha=0.05, pvalue=0.00017750273053021955
Col 97 is statistically significantly different at alpha=0.05, pvalue=1.5607549038818423e-06
Col 98 is statistically significantly different at alpha=0.05, pvalue=0.0014859355968960548
Col 99 is statistically significantly different at alpha=0.05, pvalue=0.00036506739775772086
Total number different was 97, which is 97.0%